<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <gespreidbetalen>
                <active>1</active>
                <title>GespreidBetalen</title>
                <order_status>pending</order_status>
                <instructions>Instruction.</instructions>
                <payment_action>true</payment_action>
                <model>Qonnex\GespreidBetalen\Model\GespreidBetalen</model>
                <group>offline</group>
                <success_text>Geachte heer/mevrouw, u heeft er voor gekozen gespreid te betalen. Wanneer uw aanvraag afgrond is krijgen wij hier automatisch bericht van. Wanneer dit is gebeurd zullen wij contact met u opnemen omtrent de leverdatum. Bedankt voor uw vertrouwen!</success_text>
                <allowspecific>0</allowspecific>
                <min_order_total>250</min_order_total>
                <sort_order>1</sort_order>
            </gespreidbetalen>
        </payment>
    </default>
</config>
